.img-bg {
    background: url(fondo-m.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: top;
    width: 100%;
    
   
}
@media only screen and (min-width: 576px) {
    .img-bg {
        background: url(fondo.webp);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: top;
        width: 100%;
        
       
    }

}